// TODO: Implement nudge
$button-padding: 20px 40px;
$button-font-size: 24px;
$button-box-shadow: 0 8px 10px -3px rgba(0,0,0,0.3);
$button-transition: all 175ms ease; 
$button-hover-top: 3px;
$button-hover-box-shadow: 0 0 0 0 rgba(0,0,0,0);
$button-project-padding: 10px 20px;
$button-project-font-size: 14px;

.button {
  position: relative;
  top: 0;
  background: $site-color-white;
  padding: $button-padding;
  color: $site-color-dark-red;
  font-size: 24px;
  font-weight: $site-font-weight-semibold;
  box-shadow: $button-box-shadow;
  transition: $button-transition;
  font-style: normal;

  &:hover {
    top: $button-hover-top;
    box-shadow: $button-hover-box-shadow;
  }

  &--project {
    padding: $button-project-padding;
    color: $site-color-dark-red;
    font-size: $button-project-font-size;
  }
}

// TODO: Implement this
// &__nudge {
// display: inline-block;
// vertical-align: top;
// transform: translate3d(0, 0, 0) rotate(0deg);
// transform-origin: center center;
// animation: nudge 6000ms linear infinite;

// &:hover {
//     animation: none;
// }
// }

// @keyframes nudge {
//     94% {
//         transform: translate3d(0, 0, 0) rotate(0);
//     }
//     95% {
//         transform: translate3d(0, -4px, 0) rotate(0);
//     }
//     96% {
//         transform: translate3d(0, -4px, 0)rotate(-2deg);
//     }
//     97% {
//         transform: translate3d(0, -4px, 0) rotate(0);
//     }
//     98% {
//         transform: translate3d(0, -4px, 0) rotate(2deg);
//     }
//     99% {
//         transform: translate3d(0, -4px, 0) rotate(0);
//     }
//     100% {
//         transform: translate3d(0, 0px, 0) rotate(0);
//     }
// }