// Colors //
$site-color-white: #ffffff;
$site-color-black: #1d1d1d;
$site-color-dark-blue: #373f61;
$site-color-dark-red: #f05656;
$site-color-bright-green: #63d56d;
$site-color-bright-purple: #9b59b6;
$site-color-bright-pink: #ec3971;
$site-color-bright-orange: #e76055;
$site-color-bright-yellow: #f3b459;
$site-color-bright-blue: #00c2f4;

// Fonts //
$site-font-family: 'Nunito', arial, sans-serif;
$site-font-weight-normal: 400;
$site-font-weight-semibold: 600;

// Sizes //
$site-header-angle-size: 125px;
$site-font-family-size: 16px;