$title-font-size: $site-font-family-size*2;

.title {
  &__text {
    font-size: $title-font-size;
    font-weight: $site-font-weight-normal;
    color: $site-color-dark-blue;
    margin: 0;
  }

  &__text--red {
    color: $site-color-dark-red;
  }
}