// TODO: Review global variables
$title-font-size: 30px;

.title {
  &__text {
    font-size: $title-font-size;
    font-weight: $normal;
    color: $dark-blue;
    margin: 0;
  }

  &__text--red {
    color: $dark-red;
  }
}