// TODO: Review global variables
$skills-margin: 10px;
$skills-font-size: 16px;
$skills-line-height: 1.8em;
$skills-grid-gap: 15px;
$skills-grid-margin: -$skills-margin;

.skills {
  &__grid {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto;
    grid-gap: $skills-grid-gap;
    margin: 0 $skills-grid-margin;
  }

  &__list {
    width: 100%;
    font-size: $skills-font-size;
    line-height: $skills-line-height;
  }

  &__list-element {
    display: inline-block;
    width: auto;
    margin: 0 $skills-margin;
    color: $black;
  }

  &__list-element--green {
    color: $bright-green;
  }

  &__list-element--purple {
    color: $bright-purple;
  }

  &__list-element--pink {
    color: $bright-pink;
  }

  &__list-element--orange {
    color: $bright-orange;
  }

  &__list-element--yellow {
    color: $bright-yellow;
  }

  &__list-element--blue {
    color: $bright-blue;
  }
}