$intro-text-line-height: 30px;
$intro-text-margin-top: 20px;

.intro {
  &__text {
    font-size: $site-font-family-size;
    line-height: $intro-text-line-height;
    color: $site-color-black;
  }

  &__text + &__text {
    margin-top: $intro-text-margin-top;
  }
}