.projects {
  &__grid {
    position: relative;
    overflow: hidden;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px 15px;
    grid-template-areas: "first first second" "first first third" "fourth sixth sixth" "fifth sixth sixth";
  }

  &__grid-01 {
    grid-area: first;
    background-color: $bright-blue;
  }

  &__grid-02 {
    grid-area: second;
    background-color: $bright-purple;
  }

  &__grid-03 {
    grid-area: third;
    background-color: $bright-pink;
  }

  &__grid-04 {
    grid-area: fourth;
    background-color: $bright-orange;
  }

  &__grid-05 {
    grid-area: fifth;
    background-color: $bright-yellow;
  }

  &__grid-06 {
    grid-area: sixth;
    background-color: $bright-green;  
  }
}