.projects {
  position: relative;
  overflow: hidden;

  &__grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px 15px;
    grid-template-areas: "first first second" "first first third" "fourth sixth sixth" "fifth sixth sixth";
  }

  &__grid-01 {
    grid-area: first;
    background-color: $site-color-bright-blue;
  }

  &__grid-02 {
    grid-area: second;
    background-color: $site-color-bright-purple;
  }

  &__grid-03 {
    grid-area: third;
    background-color: $site-color-bright-pink;
  }

  &__grid-04 {
    grid-area: fourth;
    background-color: $site-color-bright-orange;
  }

  &__grid-05 {
    grid-area: fifth;
    background-color: $site-color-bright-yellow;
  }

  &__grid-06 {
    grid-area: sixth;
    background-color: $site-color-bright-green;  
  }
}